
body {
    font-family: Microsoft JhengHei;
}

h1 {
    font-weight: 700;
}

/*背景*/
.banner {
    position: fixed;
    right: 0;
    left: 0;
    z-index: -1;
    background: url(../images/banner5.jpg) no-repeat;
    background-size: 100%;
    height: 100%;
}

.clearfix {
    clear: both;
}

.header {
    background-color: rgba(255, 255, 255, 0.8);
}　

.footer {
    height: 200px;
    background-color: #403f45;
}

/*選單*/
.logo {
  float: left;
  width: 30%;
  margin-top: 18px;
}

.logo img {
    width: 180px;
}

.menu {
    float: right;
}

.menu ul {
    margin: 0;
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    padding: 35px 5px 0 5px;
    
}
/*字體*/
.menu ul li a {
    padding: 35px 7px 20px 7px;
    color: #3E2113;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    transition-property: background;
    transition-duration: .2s, 1s;
    transition-timing-function: ease-in-out;
}

/*被選擇清單背景*/
.menu ul li a:hover, .menu ul li a.active {
    background: #009FCC;
    color: #FFFFFF;
}

/*選單 End*/

.SearchBox {
    margin-top: 100px;
    padding: 10px 40px 20px 40px;
    background: rgba(228, 232, 246, 0.76)
}

*:focus {
    outline: none;
}

.SearchForm {
    padding-top: 20px;
}

.FormOne {
    clear: both;
    height: 50px;
}

.FormLeft {
    float: left;
    width: 20%;
    padding-top: 6px;
    font-size: 18px;
}

.FormRight {
    float: right;
    width: 80%;
}

.FormRightHalf {
    float: left;
    width: 40%;
}

.FormRightHalf input[type=text] {
    width: 80%;
    border: 0;
    background-color: #FFFFFF;
    outline: none;
    padding: 6px 10px;
    font-size: 15px;
}

.FormRight input[type=text],
.FormRight select {
    width: 90%;
    border: 0;
    background-color: #FFFFFF;
    outline: none;
    padding: 6px 10px;
    font-size: 15px;
}

.FormOneBtn {
    clear: both;
    height: 40px;
}
td, th {
    padding: 8px;
}

/*查詢按鈕*/

.FormBtn input[type=button],.FormBtn input[type=reset] {
    padding: 7px 15px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #ffffff;
    background-color: #009FCC;
     margin-right:10px;
}


.FormBtn {
    float: right;
}

.clearfix {
    clear: both;
}

.news{
    color:blue;
    font-size:18px;
    margin-right:180px;
    
}
.datec{
    text-align:right;
}